#menu{
    width: 1900px;
    height: 100px;
    background-color: orange;
    margin: 10px auto;
}
#logo{
    left:30px;
    width: 400px;
    height: 90px;
    margin: 5px;
    text-align: center;
    float: left;
}
#logo>h1{
    color: white;
    font-size: 35px;
    text-shadow: 20px;
    
}
#menu2{
    width: 600px;
    margin: 70px;
    height:30px;
    float: left;
    right: 100px;
}
.l1{
    color: white;
    text-decoration: none;
    margin:20px;
    font-size: 20px;
    background-color: orange;
    border-radius: 10px;
    transition: 0.5s;
    
}
.l1:hover{
    background-color: gray;
    transition: 0.5s;


}
#giris{
    width: 130px;
    height: 40px;
    float: left;
    margin: 30px;
}
.yazi1{
    color: white;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5;
   
}
.yazi1:hover{
    background-color: gray;
    transition: 0.5s;
}
#kayit{
    width: 130px;
    height: 40px;
    float: left;
    margin: 30px;
}
#arama{
    width: 180px;
    height: 40px;
    float: left;
    margin:30px;
}
input{
    width: 170px;
    height: 38px;
    border-radius: 10px;

}
#profil{
    width: 70px;
    height: 80px;
    float: left;
    margin: 30px;

}
#profil_resmi{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border:1px solid gray;
}
#alt{
    color:white;
    background-color: black;
    width: 1880px;
    height: 60px;
    margin: 30px auto;
    padding: 10px;

}

#Kaynakca{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
#ana{
    background-color:aliceblue;
    width: 1900px;
    height: 1370px;
}
#bosluk{
    width: 1900px;
    height: 400px;
}
#icerik{
    width: 1000px;
    height: 700px;
    margin: 10px auto;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}
#sag{
    width: 480px;
    height: 650px;
    background-color: white;
    float: left;
    margin: 10px;
}
#sag h1{
    color:orange;
    font-size: 50px;
}
#sag p{
    font-size: 25px;
}
#sag li{
    font-size: 20px;
}
.resim{
    width: 50px;
    height: 50px;
}
#yazilar{
    width: 470px;
    height: 180px;
    margin: 10px;
}
.bilgi{
    width: 60px;
    height: 60px;
    margin: 30px;
    float: left;
    text-align: center;
}
#sol{
    width: 480px;
    margin: 10px;
    height: 550px;
    text-align: center;
    background-color: orange;
    float: left;
    border-radius: 20px;
}
#sol h1{
    color: white;
    font-size: 50px;
}
#sol textarea{
    width: 400px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}
#buton{
    width: 400px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
#buton:hover{
    transition: 0.5;
    background-color: red;
    color:white

}
.txt{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}
body{
    background-color:aliceblue;
}
